; === UACS cargo configuration file ===
PackedMesh = UACS\Container3  ; The packed cargo mesh file path from 'Meshes' folder, without .msh.
CargoMass = 1250              ; The cargo mass in kilograms.
CargoType = 1                 ; 0 = Static, 1 = Unpackable only, 2 = Packable and unpackable.

UnpackingType = 1			  ; 0 = UACS module, 1 = Orbiter vessel.
UnpackingMode = 1             ; 0 = Released, 1 = Delayed, 2 = Landed, 3 = Manual.
UnpackingDelay = 25           ; The delay period in seconds, for 'Delayed' mode.

SpawnName = ShuttlePB         ; The vessel name in the scenario.
SpawnModule = UACS\ShuttlePB  ; The spawn module (the path to the vessel configuration file from 'Config\Vessels' folder, without .cfg).
SpawnHeight = 1.1             ; The spawn height in meters for the release on the ground, from Shipedit (see the manual for the explanation).

; === Don't edit the data below ===
Module = UACS\Cargo